{% extends 'base.html' %}

{% block content %}
    <style>
        .icon-size {
            width: 64px;  /* adjust as needed */
            height: 64px; /* adjust as needed */
        }
    </style>

    <div class="jumbotron bg-secondary text-white parallax">
        <div class="container py-5">
            {% if user %}
                <h1 class="display-4 animated fadeInDown">Welcome, {{ user.first_name }}</h1>
            {% endif %}
            <p class="lead animated fadeInDown">This is your dashboard for managing the Scrub-a-Dub-Dub Auto Scrub facility.</p>
            <hr class="my-4 bg-light animated fadeInDown delay-1s">
        </div>
    </div>

    <div class="row text-center mt-5">
        <div class="col-lg-4">
            <div class="card bg-dark text-white shadow animated fadeInUp">
                <div class="d-flex justify-content-center">
                    <img src="/static/booking.png" class="icon-size mb-3">
                </div>
                <div class="card-body">
                    <h2 class="card-title">Booking Management</h2>
                    <p class="card-text">Track and manage all customer bookings here.</p>
                    <a href="{{ url_for('manage_bookings') }}" class="btn btn-primary">Manage Bookings</a>
                </div>
            </div>
        </div>


        <div class="col-lg-4">
            <div class="card bg-dark text-white shadow animated fadeInUp delay-1s">
                <div class="d-flex justify-content-center">
                    <img src="/static/supplies.png" class="icon-size mb-3">
                </div>
                <div class="card-body">
                    <h2 class="card-title">Supplies Management</h2>
                    <p class="card-text">Manage all the supplies and inventory for your facility.</p>
                    <a href="{{ url_for('manage_supplies') }}" class="btn btn-primary">Manage Supplies</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card bg-dark text-white shadow animated fadeInUp delay-2s">
                <div class="d-flex justify-content-center">
                    <img src="/static/management.png" class="icon-size mb-3">
                </div>
                <div class="card-body">
                    <h2 class="card-title">User Management</h2>
                    <p class="card-text">Manage user roles, access rights, and view user activity.</p>
                    <a href="{{ url_for('manage_users') }}" class="btn btn-primary">Manage Users</a>
                </div>
            </div>
        </div>
    </div>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

{% endblock %}
