{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="text-center my-5">Book a Service</h1>
    <form method="POST" action="{{ url_for('booking') }}">
    <input type="hidden" id="vehicleType-label" name="vehicleType-label" value="">
    <input type="hidden" id="service-label" name="package-label" value="">
    <input type="hidden" id="selected-time" name="selected-time">
        <style>
            .btn-xl {
                padding: 20px 40px;
                font-size: 25px;
                line-height: 1.5;
                border-radius: 5px;
                transition: background-color 0.5s;
            }

            /* Hide radio buttons */
            input[type="radio"] {
                display: none;
            }

            /* Change color of selected button */
            .btn-dark.active {
                background-color: #555;
                color: #fff;
            }

            /* Style the flex container */
            .flex-container {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            /* Style the labels */
            .display-4 {
                margin-top: 20px;
                margin-bottom: 20px;
            }
        </style>
        <div class="form-group">
            <label class="display-4">1. Select Vehicle Type</label>
            <div class="btn-group btn-group-toggle d-flex justify-content-center" data-toggle="buttons">
                <label class="btn btn-dark btn-xl m-2">
                    <input type="radio" name="vehicleType" id="small" value="Small" autocomplete="off"> Small Car
                </label>
                <label class="btn btn-dark btn-xl m-2">
                    <input type="radio" name="vehicleType" id="big" value="Big" autocomplete="off"> Large Car
                </label>
            </div>
        </div>

        <div class="form-group">
            <div class="flex-container">
                <label class="display-4">2. Select a Service</label>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-dark btn-lg">
                        <input type="radio" name="service" id="Wax" value="Wash" autocomplete="off"> Wash
                    </label>
                    <label class="btn btn-dark btn-lg">
                        <input type="radio" name="service" id="Wax" value="Wax" autocomplete="off"> Wax
                    </label>
                    <label class="btn btn-dark btn-lg">
                        <input type="radio" name="service" id="Both" value="Both" autocomplete="off"> Both
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="display-4">3. Select a Booking Time</label>
            <div class="d-flex flex-row justify-content-center">
                {% for date in dates %}
                    <div class="my-2 mx-4">
                        <div class="card bg-dark text-white shadow">
                            <div class="card-body">
                                <h5 class="card-title">{{ date.strftime('%Y-%m-%d') }}</h5>
                                <div class="time-group">
                                    {% for hour in hours %}
                                        {% set time_slot = date.strftime('%Y-%m-%d') ~ ' ' ~ hour %}
                                        {% if bookings.get(time_slot, 0) >= 1 %}
                                            <button class="btn btn-danger btn-block mb-2" type="button" value="{{ time_slot }}" disabled>{{ hour }}</button>
                                        {% else %}
                                            <button class="btn btn-dark btn-block mb-2" type="button" value="{{ time_slot }}">{{ hour }}</button>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        {% if user is none%}
            <p class="text-center my-3">Already have an account? <a href="{{ url_for('login') }}">Log in</a></p>
            <p class="text-center my-3">Or <a href="{{ url_for('register') }}">create an account</a> to book a service.</p>
        {% else %}
            <div class="text-center my-3">
                <p>Total: <span id="total"></span></p>
                <button type="submit" class="btn btn-primary btn-lg">Book</button>
            </div>
        {% endif %}
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $('.btn-group-toggle label').on('click', function() {
            $(this).parent().find('label').removeClass('active');
            $(this).addClass('active');
        });

        $('.time-group button').on('click', function() {
            $('.time-group button').removeClass('active');
            $(this).addClass('active');
            $('#selected-time').val($(this).val());
        });
    });
</script>

{% endblock %}
