{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1 class="text-center mt-5 mb-3 animated fadeInDown">Contact Us</h1>

        <div class="animated fadeInUp">
            <p><strong>Name:</strong> Scrub-a-Dub-Dub Auto Scrub</p>
            <p><strong>Address:</strong> Mahidol University, 999 Phutthamonthon Sai 4 Rd, Salaya, Phutthamonthon District, Nakhon Pathom 73170</p>
            <p><strong>Phone:</strong> +66(0) 2 849-6000</p>
            <p><strong>Email:</strong> info@scrubadubdub.com</p>
        </div>

        <div class="mt-4">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3875.896567831506!2d100.32383861583037!3d13.792765490324041!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e295ea88131b61%3A0xf3513226aeb12b7!2sMahidol%20University%20International%20College%20(MUIC)!5e0!3m2!1sen!2sth!4v1627900185050!5m2!1sen!2sth"
                    width="600" 
                    height="450" 
                    style="border:0;" 
                    allowfullscreen="" 
                    loading="lazy">
            </iframe>
        </div>
    </div>
{% endblock %}
