<nav class="navbar navbar-expand-lg navbar-dark bg-transparent fixed-top">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
            {% if 'user' in session and session['user']['role'] == 'Employee' %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('admin') }}">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('manage_bookings') }}">Manage Bookings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('manage_users') }}">Manage Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('manage_supplies') }}">Manage Supplies</a>
                </li>
            {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('booking') }}">Booking</a>
                </li>
                {% if user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('view_bookings', c_id=session['user']['customer_id']) }}">My Booking</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('handle_membership') }}">Membership</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('handle_package') }}">Package</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('contact') }}">Contact Us</a>
                </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav">
            {% if 'user' in session %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('register') }}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                </li>
            {% endif %}
        </ul>

    </div>
</nav>
